Convert a set of geocoordinates of publicly-owned lands to a set of addresses using geopy

In [3]:
!pip3 install geopy
!pip3 install xlrd

Collecting geopy
  Using cached https://files.pythonhosted.org/packages/80/93/d384479da0ead712bdaf697a8399c13a9a89bd856ada5a27d462fb45e47b/geopy-1.20.0-py2.py3-none-any.whl
Collecting geographiclib<2,>=1.49 (from geopy)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.20.0
You are using pip version 19.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [24]:
from geopy.geocoders import Nominatim
import pandas as pd
import xlrd

user_agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.132 Safari/537.36"

In [8]:
geolocator = Nominatim(user_agent)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

In [54]:
#test for one location:

import os, ssl
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context
    #location = geolocator.reverse("34.17300524,-118.4588488")
    location = geolocator.reverse(test_coords)

In [11]:
!export PYTHONHTTPSVERIFY=0

In [55]:
print(location.address)

3880, Hopevale Drive, Sherman Oaks, LA, Los Angeles County, California, 91403, USA

In [18]:
#worked great! Now let's eat the whole dataset, which is an excel file, process it, and spit it out with addresses:

In [25]:
#read in the input file:

input_file = pd.read_excel("Publicly-Owned_Properties Excel.xlsx")

In [29]:
#take a quick look:

input_file.head()

,OBJECTID,AIN,TaxRateArea,SitusHouseNo,SitusFraction,SitusDirection,SitusUnit,SitusStreet,SitusCity,SitusZIP,...,Federal,State,County,City,Metro,LAUSD,Shape_Length,Shape_Area,Longitude,Latitude
0,892,2243010900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,32.828327,40.208008,-118.458849,34.173005
1,893,2243019900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,121.041064,526.006836,-118.465989,34.178173
2,894,2244001901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,118.851398,474.996094,-118.450722,34.179269
3,895,2245026901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,47.450142,62.966797,-118.441773,34.170341
4,907,2247013900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,61.975073,29.990234,-118.433870,34.170274

In [47]:
###input file looks good. Because the geopy script eats coordinates in the "lat, lon" format, build a column for that:

input_file['lat_lon'] = [str(input_file.iloc[i]['Latitude']) + "," + str(input_file.iloc[i]['Longitude']) 
                         for i in range(len(input_file['Latitude']))]

In [53]:
test_coords = input_file['lat_lon'][100]

In [33]:
##now build a function to return the address on each set of coordinates. Here's the base function from above:

if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context
    #location = geolocator.reverse("34.17300524,-118.4588488")
    location = geolocator.reverse(test_coords)

'34.1730052419852'

In [57]:
##and here's the extensible function:

def retrieve_address(input_coords):
    if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
    getattr(ssl, '_create_unverified_context', None)):
        ssl._create_default_https_context = ssl._create_unverified_context
        location = geolocator.reverse(input_coords)
        return location.address

##now use the above function in a list comprehension to build a new column on our df. Our input values are:
## input_file['lat_lon'][i]

input_file['address'] = [retrieve_address(input_file['lat_lon'][i]) for i in range(len(input_file['Latitude']))]

In [59]:
input_file['lat_lon'][0]

'34.1730052419852,-118.45884882526'

In [66]:
input_file.head()

,OBJECTID,AIN,TaxRateArea,SitusHouseNo,SitusFraction,SitusDirection,SitusUnit,SitusStreet,SitusCity,SitusZIP,...,State,County,City,Metro,LAUSD,Shape_Length,Shape_Area,Longitude,Latitude,lat_lon
0,892,2243010900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,32.828327,40.208008,-118.458849,34.173005,"34.1730052419852,-118.45884882526"
1,893,2243019900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,121.041064,526.006836,-118.465989,34.178173,"34.1781727139901,-118.465988819962"
2,894,2244001901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,118.851398,474.996094,-118.450722,34.179269,"34.179269355708,-118.45072215"
3,895,2245026901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,47.450142,62.966797,-118.441773,34.170341,"34.1703405246432,-118.441772872897"
4,907,2247013900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,61.975073,29.990234,-118.433870,34.170274,"34.17027428933,-118.433869976059"

In [178]:
retrieve_address("34.0613846708875,-118.315720804491")

'Los Angeles Fire Department Fire Station 29, 4029, Wilshire Boulevard, Wilton Historic District, Little Armenia, LA, Los Angeles County, California, 90010-3401, USA'

In [68]:
for i in range(1,10):
    ret = retrieve_address(input_file['lat_lon'][i])
    print(ret)

5934, Sepulveda Boulevard, Van Nuys, LA, Los Angeles County, California, 91411, USA
Oxnard Street, Van Nuys, LA, Los Angeles County, California, 91401-2649, USA
14167, Albers Street, Van Nuys, LA, Los Angeles County, California, 91401, USA
13810, Albers Street, Van Nuys, LA, Los Angeles County, California, 91401, USA
13850, Albers Street, Van Nuys, LA, Los Angeles County, California, 91401, USA
13880, Albers Street, Van Nuys, LA, Los Angeles County, California, 91401, USA
13813, Albers Street, Van Nuys, LA, Los Angeles County, California, 91401, USA
13713, Albers Street, Van Nuys, LA, Los Angeles County, California, 91401, USA
13920, Margate Street, Sherman Oaks, LA, Los Angeles County, California, 91401, USA

In [113]:
output_df = pd.DataFrame(columns=['address'])

In [168]:
input_file['addy'] = matched.values

In [170]:
input_file.head()

,OBJECTID,AIN,TaxRateArea,SitusHouseNo,SitusFraction,SitusDirection,SitusUnit,SitusStreet,SitusCity,SitusZIP,...,County,City,Metro,LAUSD,Shape_Length,Shape_Area,Longitude,Latitude,lat_lon,addy
0,892,2243010900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,32.828327,40.208008,-118.458849,34.173005,"34.1730052419852,-118.45884882526","5934, Sepulveda Boulevard, Van Nuys, LA, Los A..."
1,893,2243019900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,121.041064,526.006836,-118.465989,34.178173,"34.1781727139901,-118.465988819962","Oxnard Street, Van Nuys, LA, Los Angeles Count..."
2,894,2244001901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,118.851398,474.996094,-118.450722,34.179269,"34.179269355708,-118.45072215","14167, Albers Street, Van Nuys, LA, Los Angele..."
3,895,2245026901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,47.450142,62.966797,-118.441773,34.170341,"34.1703405246432,-118.441772872897","13810, Albers Street, Van Nuys, LA, Los Angele..."
4,907,2247013900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,61.975073,29.990234,-118.433870,34.170274,"34.17027428933,-118.433869976059","13850, Albers Street, Van Nuys, LA, Los Angele..."

In [173]:
input_file.to_csv("Addresses_Publicly_Owned_CD4_Properties.csv")

In [179]:
###plot it all!

In [189]:
import matplotlib.pyplot as plt
import geopandas as gpd
%matplotlib inline
from shapely.geometry import Point, Polygon
crs = {'init': 'epsg:4326'}

In [185]:
geometry = [Point(xy) for xy in zip(input_file["Latitude"], input_file["Longitude"])]

In [193]:
geo_df = gpd.GeoDataFrame(input_file, crs=crs, geometry=geometry)
geo_df.head()

,OBJECTID,AIN,TaxRateArea,SitusHouseNo,SitusFraction,SitusDirection,SitusUnit,SitusStreet,SitusCity,SitusZIP,...,City,Metro,LAUSD,Shape_Length,Shape_Area,Longitude,Latitude,lat_lon,addy,geometry
0,892,2243010900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,32.828327,40.208008,-118.458849,34.173005,"34.1730052419852,-118.45884882526","5934, Sepulveda Boulevard, Van Nuys, LA, Los A...",POINT (34.1730052419852 -118.45884882526)
1,893,2243019900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,121.041064,526.006836,-118.465989,34.178173,"34.1781727139901,-118.465988819962","Oxnard Street, Van Nuys, LA, Los Angeles Count...",POINT (34.1781727139901 -118.465988819962)
2,894,2244001901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,118.851398,474.996094,-118.450722,34.179269,"34.179269355708,-118.45072215","14167, Albers Street, Van Nuys, LA, Los Angele...",POINT (34.179269355708 -118.45072215)
3,895,2245026901,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,47.450142,62.966797,-118.441773,34.170341,"34.1703405246432,-118.441772872897","13810, Albers Street, Van Nuys, LA, Los Angele...",POINT (34.1703405246432 -118.441772872897)
4,907,2247013900,13,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,61.975073,29.990234,-118.433870,34.170274,"34.17027428933,-118.433869976059","13850, Albers Street, Van Nuys, LA, Los Angele...",POINT (34.17027428933 -118.433869976059)

In [ ]:
fig, ax = plt.subplots(figsize= (15,15))